* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.list_wrapper {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 400px;
  text-align: center;
}
#newTask {
  width: 80%;
  padding: 7px 8px 9px 8px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
button {
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #218838;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  background-color: #f8f9fa;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
}
button.edit {
  background-color: #ffc107;
  color: white;
}
button.delete {
  background-color: #dc3545;
  color: white;
}
button.edit:hover {
  background-color: #e0a800;
}
button.delete:hover {
  background-color: #c82333;
}
.task-text {
  cursor: pointer;
  display: block;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
input {
    outline: none;
    padding: 5px 0;
    border: 0px;
    background: transparent;
    font-size: 16px;
    text-indent: 0px;
}